body {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #f0f0f0;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 54px;
  margin: 0;
  padding: 0;
}

.header-links a {
  text-decoration: none;
  color: black;
}

main {
  padding: 54px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  width: 100%;
}

.hero-text {
  width: 90%;
}

.headline {
  font-size: 5rem;
}

.hero p {
  font-size: 1rem;
}

.hero-image {
  width: 100%;
  max-height: 800px;
}
